.colorRed {
  background-color: rgb(255, 0, 0) !important;
  color: black;
}
.colorRed:hover {
  opacity: 1 !important;
}
.colorGreen {
  background-color: rgb(0, 255, 0) !important;
  color: black;
}
.colorGreen:hover {
  opacity: 1 !important;
}
.colorBlue {
  background-color: rgb(0, 0, 255) !important;
  color: black;
}
.colorBlue:hover {
  opacity: 1 !important;
}
.on:before {
  border-radius: 50%;
  content: 'ON';
  border: 1px solid red;
  color: white;
  background-color: red;
  padding: 10px;
  height: 58px;
} 
.auto:before {
  border-radius: 50%;
  content: 'AUTO';
  border: 1px solid gray;
  color: black;
  background-color: gray;
  padding: 10px;
  height: 58px;
}
.four-hours:before {
  border-radius: 50%;
  content: '4H';
  border: 1px solid gray;
  color: black;
  background-color: gray;
  padding: 10px;
  height: 58px;
}
.off:before {
  border-radius: 50%;
  content: 'OFF';
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 10px;
  height: 58px;
}
.six-hours:before {
  border-radius: 50%;
  content: '6H';
  border: 1px solid gray;
  color: black;
  background-color: gray;
  padding: 10px;
  height: 58px;
}
.eight-hours:before {
  border-radius: 50%;
  content: '8H';
  border: 1px solid gray;
  color: black;
  background-color: gray;
  padding: 10px;
  height: 58px;
}
.white:before {
  border-radius: 50%;
  content: 'W';
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 10px;
  height: 58px;
}

